<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome <%= current_user.username %></h1>
    <%= link_to "Edit User", edit_user_path(current_user), class:"edit-class" %>
  </body>
</html>
