/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 #flipkart-navbar {
    margin-top: -50px;
     background-color: #2874f0;
     color: #FFFFFF;
     top: 0
 }

 .row1{
     padding-top: 10px;
 }

 .row2 {
     padding-bottom: 20px;
 }

 .flipkart-navbar-input {
     padding: 11px 16px;
     border-radius: 2px 0 0 2px;
     border: 0 none;
     outline: 0 none;
     font-size: 15px;
 }

 .droppy {
   display: inline !important;
 }


 .flipkart-navbar-button {
     background-color: #ffe11b;
     border: 1px solid #ffe11b;
     border-radius: 0 2px 2px 0;
     color: #565656;
     padding: 10px 0;
     height: 43px;
     cursor: pointer;
 }

 .cart-button {
     background-color: #2469d9;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
     padding: 10px 0;
     text-align: center;
     height: 41px;
     border-radius: 2px;
     font-weight: 500;
     width: 120px;
     display: inline-block;
     color: #FFFFFF;
     text-decoration: none;
     color: inherit;
     border: none;
     outline: none;
 }

 .cart-button:hover{
     text-decoration: none;
     color: #fff;
     cursor: pointer;
 }

 .cart-svg {
     display: inline-block;
     width: 16px;
     height: 16px;
     vertical-align: middle;
     margin-right: 8px;
 }

 .item-number {
     border-radius: 3px;
     background-color: rgba(0, 0, 0, .1);
     height: 20px;
     padding: 3px 6px;
     font-weight: 500;
     display: inline-block;
     color: #fff;
     line-height: 12px;
     margin-left: 10px;
 }

 .upper-links {
     display: inline-block;
     padding: 0 11px;
     line-height: 23px;
     font-family: 'Roboto', sans-serif;
     letter-spacing: 0;
     color: inherit;
     border: none;
     outline: none;
     font-size: 12px;
 }

 .dropdown {
     position: relative;
     display: inline-block;
     margin-bottom: 0px;
 }

 .dropdown:hover {
     background-color: #fff;
 }

 .dropdown:hover .links {
     color: #000;
 }

 .dropdown:hover .dropdown-menu {
     display: block;
 }

 .dropdown .dropdown-menu {
     position: absolute;
     top: 100%;
     background-color: #fff;
     color: #333;
     left: 0px;
     border: 0;
     border-radius: 0;
     box-shadow: 0 4px 8px -3px #555454;
     margin: 0;
     padding: 0px;
 }

 .links {
     color: #fff;
     text-decoration: none;
 }

 .well {box-sizing: border-box!important}

 .links:hover {
     color: #fff;
     text-decoration: none;
 }

 .profile-links {
     font-size: 12px;
     font-family: 'Roboto', sans-serif;
     border-bottom: 1px solid #e9e9e9;
     box-sizing: border-box;
     display: block;
     padding: 0 11px;
     line-height: 23px;
 }

 .profile-li{
     padding-top: 2px;
 }

 .largenav {
     display: none;
 }

 .smallnav{
     display: block;
 }

 .smallsearch{
     margin-left: 15px;
     margin-top: 15px;
 }

 .menu{
     cursor: pointer;
 }

 @media screen and (min-width: 768px) {
     .largenav {
         display: block;
     }
     .smallnav{
         display: none;
     }
     .smallsearch{
         margin: 0px;
     }
 }

 /*Sidenav*/
 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #fff;
     overflow-x: hidden;
     transition: 0.5s;
     box-shadow: 0 4px 8px -3px #555454;
     padding-top: 0px;
 }

 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s
 }

 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
     color: #fff;
 }

 @media screen and (max-height: 450px) {
   .sidenav a {font-size: 18px;}
 }

 .sidenav-heading{
     font-size: 36px;
     color: #fff;
 }



 body{padding-top:70px;}
.carousel {
    margin-top: 130px;
    margin-bottom: 0;
    padding: 20px 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
    left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
  ul.thumbnails.image_picker_selector li {
    margin: 0px 12px 12px 0px;
    float: left; }
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 6px;
      border: 1px solid #dddddd;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      ul.thumbnails.image_picker_selector li .thumbnail img {
        -webkit-user-drag: none; }
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: #0088cc; }




//  #footer {
//    position:absolute;
//    bottom:0;
//    width:100%;
//    height:60px;   /* Height of the footer */
//   //  background:#6cf;
// }
.footer {
  padding: 100px;
  position: relative;
  margin-top: 50px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:100px;
  margin-bottom: 20px;
}
.thumbnail-custom img {
  height: 100px;
  width: 100px;
}
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.custom-height {
  min-height: 650px;
}
.center-buttons{
  width: 150px;
}
.logo-bar {
  padding-top: 20px !important;
  margin-left: -50px !important;
  border-radius: 25px;
}
